@inherits LayoutComponentBase

<div class="desktop-container">
    <WindowChromeInitializer />
    <div class="desktop-area">
        <Desktop />
        <DesktopWindows />
    </div>
    <NotificationWidget />
    <Taskbar />
</div>